<section class="container mt-5">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center mb-4">Bienvenidos a Nuestra Plataforma Inmobiliaria</h1>
      <p class="text-justify">
        Nuestra aplicación ofrece una solución integral para la compra, venta y alquiler de propiedades, conectando a agentes, vendedores y compradores en un solo lugar. Con una amplia gama de propiedades disponibles, desde casas y apartamentos hasta oficinas y locales comerciales, facilitamos la búsqueda del espacio perfecto que se adapte a tus necesidades.
      </p>
      <p class="text-justify">
        Para los vendedores y agentes inmobiliarios, proporcionamos herramientas poderosas para listar propiedades, gestionar ventas y comunicarse eficientemente con potenciales compradores. Nuestra plataforma está diseñada para maximizar la visibilidad de tus propiedades, asegurando una experiencia de venta fluida y exitosa.
      </p>
      <p class="text-justify">
        Si estás buscando comprar tu próximo hogar o invertir en bienes raíces, nuestro sistema de búsqueda avanzada te permite filtrar por ubicación, precio, características de la propiedad y mucho más, para que puedas encontrar exactamente lo que necesitas de manera rápida y sencilla.
      </p>
      <p class="text-justify">
        Además, nuestro compromiso con la transparencia y la confiabilidad asegura que todas las transacciones se realicen de manera segura, brindando tranquilidad tanto a compradores como a vendedores. Únete a nuestra comunidad y descubre cómo podemos ayudarte a alcanzar tus objetivos inmobiliarios hoy mismo.
      </p>
      <div class="text-center">
        <a href="/available_properties" class="btn btn-primary mt-3">Explora Propiedades</a>
      </div>
    </div>
  </div>
</section>